*{
    font-family: 'Nunito', sans-serif;
}
html, body,main{
    height: 99%;
}
body{
    background-color: #F3F5FC;
}
#logo{
    margin: 40px 0px 0px 84px;
}

.botAzul{
    background-color: #0A3871;
    color:#F0F0F0;
    border:none;
}

.botBranco{
    color:#0A3871;
    border: solid 1px #0A3871;
    background-color: #F0F0F0;
}

#tela-inicial{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#tela-inicial > button{
    width: 20rem;
    height: 5rem;
    border-radius: 24px;
    font-weight: 600;

}
#botIniciar{
    margin-bottom: 1em;
}
#tela-adicionarPalavra{
    height: 50%;
    margin: 15% 15% 20% 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#palavraInput{
    height: 3rem;
    border:none;
    padding: 0.1rem;
    font-size: 2rem;

}
input:focus{outline: none;}

#palavraInput::placeholder{
    font-size: 2rem;
    line-height: 3rem;
    color: #0A3871;
}

.botPadrao{
    margin-top: 1rem;
    width: 20em;
    height: 4.5em;
    border-radius: 24px;
}

.botoes button:nth-child(1){
    margin-right: 1rem;
}
#tela-forca{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#inserido{
    font-size: 2rem;
    letter-spacing: 0.5rem;
}