*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    min-height: 100% !important;
    height: 100%;
    
}
body{
    background-color: #F3F5FC;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 88%;
    
    
}
header{
    
    display: flex;
    margin: 0px 60px 0px 60px;
    justify-content: space-between;
    align-items:center ;
    height: 12%;
    
    
}
header>div>button{
    height: 2.5rem; 
    font-size: 16px;
    font-weight: bold;
    padding: 0px 1rem 0px 1rem;
}
#qtdPalavra{
    padding: 5px;
    border-radius: 25px;
}
.botAzul{
    background-color: #0A3871;
    color:#F0F0F0;
    border:none;
    border-radius: 20px;
}

.botBranco{
    color:#0A3871;
    border: solid 2px #0A3871;
    background-color: #F0F0F0;
    border-radius: 20px;
}
.botoes{
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:15px;
}
#observacao{
    margin-bottom: 10px;
}
#tela-inicial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#tela-inicial > button{
    width: 20rem;
    height: 5rem;
    border-radius: 24px;
    font-weight: 600;

}
#botIniciar{
    margin-bottom: 1em;
}
#tela-adicionarPalavra{
    height: 100%;
    margin: 15% auto 20% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#palavraInput{
    height: 3rem;
    border:none;
    padding: 0.1rem;
    font-size: 2rem;
    background:none;

}
input:focus{outline: none;}

#palavraInput::placeholder{
    font-size: 2rem;
    line-height: 3rem;
    color: #0A3871;
}

.botPadrao{
    width: 20em;
    height: 4.5em;
    border-radius: 24px;
}
#tela-forca{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
#painelForca{
    display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 2fr;
    
    align-items: center;
    justify-content: center;
}
#inserido{
    font-size: 2rem;
    letter-spacing: 0.5rem;
    text-align: center;
}

#teclado{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    z-index: 2;
    
}
#teclado div {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: center;
}
#teclado button{
    width: 50px;
    height: 50px;
    padding: 0;

    border:none;
    background-color: #2a5b96;
    color:white;
    margin: 1px;
    border-radius: 10px;

}
#teclado button:active{
    background-color: #cce0f8;
    color:rgb(44, 44, 44);
}
#mostraTeclado{
    margin:40px auto 10px auto;
    border: none;
    background: none;
}
button svg{
    width: 50px;
    fill: #2a5b96;
}
button svg:hover path{
    fill: #90b1d8;
}

@media only screen and (max-width:1023px) {
    
    #painelForca {
        display: flex;
        flex-direction: column;
        scale: 0.8;
        margin-top: -40px;
    }
    #mostraTeclado{
        margin-top: -40px;
    }

    #inserido{
        display: none;
    }
   header{
        margin: 10px 20px 0px 20px;
    }
  }
  @media only screen and (max-width:768px) {
    .botoes{    
        flex-direction: column;
        gap:10px;
        }
        #tela-adicionarPalavra {
            width: 90%;
        }
    .botPadrao{
        width: 100%;
    }
    }
  
 